* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 2rem;
}

.add_task {
  background-color: blue;
  margin-left: 0.5rem;
  color: white;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  border: blue 1px solid;
}

.task_inputs {
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: 1px solid grey;
  border-radius: 4px;
}

input.invalid {
  cursor: not-allowed;
  background-color: lightgray;
  border: 1px solid lightgray;
  color: gray;
}

#list {
  display: inline-block;
  width: 30vw;
  margin-top: 1.5rem;
  border-top: 1px blue solid;
  padding: 0.5rem 0;
}

#list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  border: 1px grey solid;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem 01rem;
  margin: 0.5rem 0;
  width: fit-content;
  height: 32px;
}

.custom_checkbox:hover {
  cursor: pointer;
}

.custom_checkbox:before {
  content: '';
  padding-left: 3px;
  padding-bottom: 1px;
  width: 24px;
  height: 24px;
  background-color: white;
  display: inline-block;
  border: grey solid 1px;
  border-radius: 3px;
  visibility: visible;
  box-shadow: 1px 1px lightgray;
}

.custom_checkbox:checked:before {
  content: '\1F44D';
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  box-shadow: none;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 9px;
  font-size: 1.25rem;
}

#list li [type='checkbox'] {
  margin-right: 1.5rem;
  width: 20px;
  height: 30px;
}

#list li button {
  background-color: red;
  margin-left: 2.5rem;
  color: white;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  border: red 1px solid;
  box-shadow: 2px 2px 2px grey;
}
